.about-section {
  background-color: var(--NB-white);
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 5rem;
  .profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .profile-text,
    .profile-image {
      width: 400px;
    }

    .profile-image {
      text-align: center;
      img {
        border-radius: 50%;
        width: 240px;
        height: 240px;
        transition: 200ms;
      }
      img:hover {
        transform: scale(1.05);
        transition: 200ms;
      }
    }
  }
  .cards {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    .card {
      margin: 1rem;
      height: 200px;
      width: 230px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      border: 1px solid var(--NB-darker-grey);
      transition: 200ms;
      img {
        width: 30px;
        height: 30px;
      }
    }
    .card:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: 200ms;
    }
  }
}
/* DESKTOP VIEW */
@media only screen and (min-width: 701px) {
  .about-section {
    min-height: calc(100vh - var(--desktop-navbar-height));
    height: fit-content;
  }
}

/* MOBILE VIEW */
@media only screen and (max-width: 700px) {
  .about-section {
    min-height: calc(100vh - var(--mobile-navbar-height));
    height: fit-content;
  }
}
