.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  .inner-container {
    background-color: var(--NB-grey);
    width: 100%;
    height: fit-content;
    padding-top: 5rem;
    padding-bottom: 5rem;
    .cards-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .card {
        margin: 1rem;
        height: 200px;
        width: 230px;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        border: 1px solid var(--NB-darker-grey);
        transition: 200ms;
        .badges p {
          margin: 0.1rem;
        }
      }
      .card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: 200ms;
      }
    }
  }
}

/* DESKTOP VIEW */
@media only screen and (min-width: 701px) {
  .skills-section {
    min-height: calc(100vh - var(--desktop-navbar-height));
    height: fit-content;
  }
}

/* MOBILE VIEW */
@media only screen and (max-width: 700px) {
  .skills-section {
    min-height: calc(100vh - var(--mobile-navbar-height));
    height: fit-content;
  }
}
