.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  .inner-container {
    background-color: var(--NB-grey);
    width: 100%;
    height: fit-content;
    padding-top: 5rem;
    padding-bottom: 5rem;
    .cards-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .card {
        margin: 1rem;
        min-height: 200px;
        min-width: 230px;
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1rem;
        text-align: left;
        justify-content: space-between;
        border-radius: 10px;
        border: 1px solid var(--NB-darker-grey);
        transition: 200ms;

        .desc-section {
          .text-section {
            display: flex;
            flex-direction: column;
          }
        }

        em {
          color: var(--NB-lighter-black);
        }
        .badges p {
          margin: 0.1rem;
        }
        mat-expansion-panel {
          mat-expansion-panel-header {
            height: 1.5rem;
            em {
              font-size: 0.8rem;
              opacity: 0.8;
            }
          }
        }
      }
      .card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: 200ms;
      }
    }
  }
}

/* DESKTOP VIEW */
@media only screen and (min-width: 701px) {
  .skills-section {
    min-height: calc(100vh - var(--desktop-navbar-height));
    height: fit-content;
    .card {
      width: 60%;
      .desc-section {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        .text-section {
          flex: 3 1;
        }
        .figure-section {
          flex: 1 3;

          img {
            border-radius: 10px;
            width: 12rem;
            height: auto;
          }
        }
      }
      mat-expansion-panel {
        width: 30%;
        min-width: 150px;
      }
    }
  }
}

/* MOBILE VIEW */
@media only screen and (max-width: 700px) {
  .skills-section {
    .card {
      width: 90dvw;
    }
    min-height: calc(100vh - var(--mobile-navbar-height));
    height: fit-content;
    mat-expansion-panel {
      width: 100%;
    }
    .figure-section {
      display: none;
    }
  }
}
