<div class="home-container">
  <!--Hero section-->
  <div class="hero-section section">
    <div class="card">
      <!--Text Area (title+subtitle)-->
      <div class="text-area">
        <p class="hero-title txt-black txt-font-bold">
          {{ "HERO_SECTION_TITLE" | translate }}
        </p>

        <p class="hero-subtitle txt-md txt-lighter-black txt-font-medium">
          {{ "HERO_SECTION_SUBTITLE" | translate }}
        </p>
      </div>
      <!--Action Area (nav to fragments + SM icons)-->
      <div class="action-area">
        <div class="buttons">
          <a [routerLink]="['']" fragment="Projects">
            <button class="button-primary-dark">
              {{ "PROJECTS_BUTTON" | translate }}
            </button>
          </a>
          <a [routerLink]="['']" fragment="Contact">
            <button class="button-primary-light">
              {{ "CONTACT_BUTTON" | translate }}
            </button>
          </a>
        </div>
        <div class="icons">
          <a href="https://github.com/nabsabt/" target="_blank" title="GitHub"
            ><img
              alt="github"
              style="width: 30px; height: 30px"
              src="assets/icon/github-icon-bw.svg"
          /></a>
          <a
            href="https://www.linkedin.com/in/bence-nagy-a75455162/"
            target="_blank"
            title="LinkedIn"
            ><img
              alt="linkedin"
              style="width: 30px; height: 30px"
              src="assets/icon/linkedin-icon-bw.svg"
          /></a>
        </div>
      </div>
    </div>
  </div>

  <!--About section-->
  <div #About id="About" class="about-section section">
    <div class="profile container">
      <div class="profile-text">
        <p class="txt-black txt-font-medium txt-lg">
          {{ "ABOUT_SECTION_TITLE" | translate }}
        </p>
        <p class="txt-lighter-black txt-font-light txt-md">
          {{ "ABOUT_SECTION_TEXT" | translate }}
        </p>
      </div>
      <div class="profile-image">
        <img src="assets/img/profile_small.jpg" alt="Profile Picture" />
      </div>
    </div>
    <div class="cards container">
      <div class="card">
        <img src="assets/icon/code-icon-bw.svg" />
        <p>{{ "CARD_CLEANCODE_TITLE" | translate }}</p>
        <p>
          {{ "CARD_CLEANCODE_TEXT" | translate }}
        </p>
      </div>
      <div class="card">
        <img src="assets/icon/lightbulb-icon-bw.svg" />
        <p>{{ "CARD_INNOVATION_TITLE" | translate }}</p>
        <p>
          {{ "CARD_INNOVATION_TEXT" | translate }}
        </p>
      </div>
      <div class="card">
        <img src="assets/icon/users-icon-bw.svg" />
        <p>{{ "CARD_COLLABORATION_TITLE" | translate }}</p>
        <p>
          {{ "CARD_COLLABORATION_TEXT" | translate }}
        </p>
      </div>
      <div class="card">
        <img src="assets/icon/rocket-icon-bw.svg" />
        <p>{{ "CARD_PERFORMANCE_TITLE" | translate }}</p>
        <p>
          {{ "CARD_PERFORMANCE_TEXT" | translate }}
        </p>
      </div>
    </div>
  </div>

  <!--Skills section-->
  <div #Skills id="Skills" class="skills-section section">
    <div class="inner-container">
      <p class="txt-black txt-font-medium txt-lg">
        {{ "SKILLS_SECTION_TITLE" | translate }}
      </p>
      <p class="txt-lighter-black txt-font-light txt-md">
        {{ "SKILLS_SECTION_TEXT" | translate }}
      </p>
      <div class="cards-container">
        <div class="card">
          <p>{{ "SKILLS_FRONTEND" | translate }}</p>
          <div class="badges">
            <p class="badge">Angular</p>
            <p class="badge">HTML</p>
            <p class="badge">CSS</p>
            <p class="badge">React</p>
            <p class="badge">Angular Material</p>
            <p class="badge">Bootstrap</p>
            <p class="badge">MapLibre</p>
          </div>
        </div>

        <div class="card">
          <p>{{ "SKILLS_BACKEND" | translate }}</p>
          <div class="badges">
            <p class="badge">NodeJS</p>
            <p class="badge">NestJS</p>
            <p class="badge">MongoDB</p>
            <p class="badge">PostgreSQL</p>
          </div>
        </div>

        <div class="card">
          <p>{{ "SKILLS_TOOLS_OTHERS" | translate }}</p>
          <div class="badges">
            <p class="badge">QGIS</p>
            <p class="badge">Docker</p>
            <p class="badge">Figma</p>
            <p class="badge">Adobe Photoshop</p>
            <p class="badge">GitHub</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Projects section-->
  <div #Projects id="Projects" class="projects-section section">
    <p class="txt-black txt-font-medium txt-lg">
      {{ "PROJECTS_SECTION_TITLE" | translate }}
    </p>
    <p class="txt-lighter-black txt-font-light txt-md">
      {{ "PROJECTS_SECTION_SUBTITLE" | translate }}
    </p>
    <div class="project-cards">
      <!--NS Ekszer-->
      <div class="project-card">
        <div class="project-img-container">
          <img src="assets/img/PROJ_nsekszer.jpg" />
        </div>
        <div class="title">
          <p class="txt-black txt-font-medium txt-md">NS-Ékszer</p>
        </div>

        <div class="text">
          <p class="txt-black txt-font-light txt-sm">
            {{ "NS_EKSZER_DESC" | translate }}
          </p>
        </div>
        <div class="badges">
          <p class="badge">Angular</p>
          <p class="badge">Bootstrap</p>
          <p class="badge">Figma</p>
          <p class="badge">Render</p>
        </div>
        <div class="button-div">
          <button class="button-primary-dark">Check ►</button>
        </div>
      </div>

      <!--Koliapp-->
      <div class="project-card">
        <div class="project-img-container">
          <img src="assets/img/PROJ_koliapp.jpg" />
        </div>
        <div class="title">
          <p class="txt-black txt-font-medium txt-md">Koliapp</p>
        </div>

        <div class="text">
          <p class="txt-black txt-font-light txt-sm">
            {{ "KOLIAPP_DESC" | translate }}
          </p>
        </div>
        <div class="badges">
          <p class="badge">Angular</p>
          <p class="badge">Bootstrap</p>
          <p class="badge">Figma</p>
          <p class="badge">NestJS</p>
          <p class="badge">MongoDB</p>
          <p class="badge">NodeJS</p>
        </div>
        <div class="button-div">
          <button class="button-primary-dark">Check ►</button>
        </div>
      </div>

      <!--Gorsium-->
      <div class="project-card">
        <div class="project-img-container">
          <img src="assets/img/PROJ_gorsium.jpg" />
        </div>
        <div class="title">
          <p class="txt-black txt-font-medium txt-md">Táci Gorsium App</p>
        </div>

        <div class="text">
          <p class="txt-black txt-font-light txt-sm">
            {{ "GORSIUM_DESC" | translate }}
          </p>
        </div>
        <div class="badges">
          <p class="badge">Angular</p>
          <p class="badge">Bootstrap</p>
          <p class="badge">MapLibre</p>
          <p class="badge">NestJS</p>
          <p class="badge">MongoDB</p>
          <p class="badge">NodeJS</p>
          <p class="badge">Figma</p>
          <p class="badge">QGIS</p>
        </div>
        <div class="button-div">
          <button class="button-primary-dark">Check ►</button>
        </div>
      </div>
    </div>
  </div>

  <!--Contact section-->
  <div #Contact id="Contact" class="contact-section section">
    <div class="inner-container">
      <p class="txt-black txt-font-medium txt-lg">
        {{ "CONTACT_SECTION_TITLE" | translate }}
      </p>
      <p class="txt-lighter-black txt-font-light txt-md">
        {{ "CONTACT_SECTION_TEXT" | translate }}
      </p>
      <div class="action-fields">
        <div class="contacts">
          <div class="contact-card">
            <img src="assets/icon/mail-icon-bw.svg" />
            <div><p>nabsabt@gmail.com</p></div>
          </div>
          <div class="contact-card">
            <img src="assets/icon/phone-icon-bw.svg" />
            <div><p>+36309940002</p></div>
          </div>
          <div class="contact-card"></div>
        </div>

        <div class="message-form">
          <!--  <form
            class="p-2"
            (submit)="onSubmitMessage(inputForm)"
            #inputForm="ngForm"
          >
            <mat-form-field class="form-field">
              <mat-label>{{ "FORM_NAME" | translate }}</mat-label>
              <input
                type="text"
                matInput
                name="name"
                class="form-control"
                ngModel
                #name="ngModel"
                required
              />
            </mat-form-field>

            <mat-form-field class="form-field">
              <mat-label>{{ "FORM_EMAIL" | translate }}</mat-label>
              <input
                type="text"
                matInput
                name="email"
                class="form-control"
                ngModel
                #email="ngModel"
                required
              />
            </mat-form-field>

            <mat-form-field class="form-field">
              <mat-label>{{ "FORM_MESSAGE" | translate }}</mat-label>
              <input
                type="text"
                matInput
                name="message"
                class="form-control"
                ngModel
                #message="ngModel"
                required
              />
            </mat-form-field>
          </form> -->
        </div>
      </div>
    </div>
  </div>
</div>
