.home-container {
  overflow-y: auto;

  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(
        to bottom,
        var(--NB-darker-grey) 0%,
        /* color at the fade end */ rgba(255, 255, 255, 0) 10%
          /* completely transparent at 20% */
      ),
      url("/assets/img/hero-section-bg-light.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .card {
      min-width: 350px;
      text-align: center;
      width: 40%;
      border-radius: 20px;
      padding: 2rem;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(15px);

      .action-area {
        margin-top: 2rem;

        .buttons {
          margin-bottom: 1rem;
        }
        .buttons button,
        .icons a {
          margin: 0.5rem;
        }
      }
    }
  }

  .about-section {
    background-color: var(--NB-white);
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
    .profile {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      .profile-text,
      .profile-image {
        width: 400px;
      }

      .profile-image {
        text-align: center;
        img {
          border-radius: 50%;
          width: 240px;
          height: 240px;
          transition: 200ms;
        }
        img:hover {
          transform: scale(1.05);
          transition: 200ms;
        }
      }
    }
    .cards {
      margin-top: 3rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      .card {
        margin: 1rem;
        height: 200px;
        width: 230px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        border: 1px solid var(--NB-darker-grey);
        transition: 200ms;
        img {
          width: 30px;
          height: 30px;
        }
      }
      .card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: 200ms;
      }
    }
  }

  .skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .inner-container {
      background-color: var(--NB-grey);
      width: 100%;
      height: fit-content;
      padding-top: 5rem;
      padding-bottom: 5rem;
      .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .card {
          margin: 1rem;
          height: 200px;
          width: 230px;
          padding: 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          border-radius: 10px;
          border: 1px solid var(--NB-darker-grey);
          transition: 200ms;
          .badges p {
            margin: 0.1rem;
          }
        }
        .card:hover {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          transition: 200ms;
        }
      }
    }
  }

  .projects-section {
    background-color: var(--NB-white);
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
    .project-cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      .project-card {
        height: 500px;
        border-radius: 10px;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border: 1px solid var(--NB-darker-grey);

        .project-img-container {
          flex: 0 0 150px; // fixed image height
        }

        .title {
          flex: 0 0 40px; // fixed
        }

        .text {
          flex: 1 1 auto; // grows and shrinks freely
          overflow: hidden;
        }

        .badges {
          flex: 0 0 80px;
          overflow-y: auto;
        }

        .button-div {
          flex: 0 0 60px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding: 1rem;
        }
      }
    }

    .project-card:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: 200ms;
    }
  }
  .contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .inner-container {
      background-color: var(--NB-grey);
      width: 100%;
      height: fit-content;
      padding: 5rem;
      .action-fields {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .contacts,
        .message-form {
          margin: 1rem;
        }
        .contact-card {
          width: 300px;
          margin: 1rem;
          height: fit-content;
          border-radius: 10px;
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: var(--NB-white);
          justify-content: space-between;
          div {
            width: 100%;
            text-align: center;
            p {
              margin: 0;
            }
          }
          img {
            height: 50px;
          }
        }
      }
    }
  }
}

/* DESKTOP VIEW */
@media only screen and (min-width: 701px) {
  .home-container {
    margin-top: var(--desktop-navbar-height);
    .hero-section {
      .text-area {
        .hero-title {
          font-size: 36px;
          line-height: 44px;
          letter-spacing: 5px;
        }
      }
    }
    .project-card {
      width: 450px;
    }
  }

  .section {
    min-height: calc(100vh - var(--desktop-navbar-height));
    height: fit-content;
  }
}

/* MOBILE VIEW */
@media only screen and (max-width: 700px) {
  .home-container {
    margin-top: var(--mobile-navbar-height);
    .hero-section {
      .text-area {
        .hero-title {
          font-size: 30px;
          line-height: 44px;
          letter-spacing: 2px;
        }
      }
    }
    .project-card {
      width: 350px;
      img {
        width: 350px;
        height: 250px;
        object-fit: cover;
      }
    }
  }

  .section {
    min-height: calc(100vh - var(--mobile-navbar-height));
    height: fit-content;
  }
}
