.home-container {
  overflow-y: auto;

  .hero-section {
    height: 500px;
  }
  .section {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      display: none;
      text-align: center;
    }
    .section-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      .text {
        flex: 1;
      }
      .graphics {
        flex: 1;
      }
      .reference-graphics {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 1rem;
        .reference {
          border-radius: 10px;
          width: fit-content;
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 1px solid transparent;
          padding: 1rem;
          transition: 300ms;
          cursor: pointer;
          .reference-logo-img {
            object-fit: contain;
          }
        }

        .reference:hover {
          border-radius: 10px;
          border: solid #24b66f 1px;
          transition: 300ms;
        }
      }
    }
  }
}

/* DESKTOP VIEW */
@media only screen and (min-width: 701px) {
  .home-container {
    margin-top: var(--desktop-navbar-height);

    .graphics {
      max-width: 50%;
      img {
        max-width: 100%;
      }
    }
    .reference-graphics {
      .reference {
        width: 120px !important;
      }
    }
    .contact-section {
      height: 200px;
      .phone-icon {
        display: none;
      }
    }
  }
}

/* MOBILE VIEW */
@media only screen and (max-width: 700px) {
  .home-container {
    margin-top: var(--mobile-navbar-height);

    .hero-section {
      height: 400px;
    }
    .technologies-section {
      height: 750px;
    }
    .section-content {
      flex-direction: column-reverse; // 👈 image comes first, then text
      text-align: center;

      p {
        text-align: left;
      }
      .graphics {
        width: 100%;
        img {
          max-width: 80%;
        }
        .technologies-graphic {
          height: 200px;
        }
      }
      .reference-graphics {
        .reference {
          width: 100px !important;
          justify-content: space-between;
        }
      }
      .phone-number {
        display: none;
      }
    }

    .contact-section {
      height: 300px;
      .phone-number {
        display: none;
      }
    }
  }
}

//CARD style
.card {
  border-radius: 0.75rem;
  border: 1px solid var(--primary-green);
  padding: 2rem;
  background-color: var(--primary-dark);
  color: var(--primary-green);
}
