.home-container {
  overflow-y: auto;

  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*  background-image: linear-gradient(
        to bottom,
        var(--NB-darker-grey) 0%,
        rgba(255, 255, 255, 0) 10%

      ),
      url("/assets/img/hero-section-bg-light.jpg"); */

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .card {
      min-width: 350px;
      text-align: center;
      width: 40%;
      border-radius: 20px;
      padding: 2rem;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(15px);

      .action-area {
        margin-top: 2rem;

        .buttons {
          margin-bottom: 1rem;
        }
        .buttons button,
        .icons a {
          margin: 0.5rem;
        }
      }
    }
  }
}

/* DESKTOP VIEW */
@media only screen and (min-width: 701px) {
  .home-container {
    margin-top: var(--desktop-navbar-height);
    .hero-section {
      .text-area {
        .hero-title {
          font-size: 36px;
          line-height: 44px;
          letter-spacing: 5px;
        }
      }
    }
    .section {
      min-height: calc(100vh - var(--desktop-navbar-height));
      height: fit-content;
    }
  }
}

/* MOBILE VIEW */
@media only screen and (max-width: 700px) {
  .home-container {
    margin-top: var(--mobile-navbar-height);
    .hero-section {
      .text-area {
        .hero-title {
          font-size: 30px;
          line-height: 44px;
          letter-spacing: 2px;
        }
      }
    }
    .section {
      min-height: calc(100vh - var(--mobile-navbar-height));
      height: fit-content;
    }
  }
}
