.projects-section {
  background-color: var(--NB-white);
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
  .project-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .project-card {
      height: 500px;
      border-radius: 10px;
      margin: 1rem;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      border: 1px solid var(--NB-darker-grey);

      .project-img-container {
        flex: 0 0 150px; // fixed image height
      }

      .title {
        flex: 0 0 40px; // fixed
      }

      .text {
        flex: 1 1 auto; // grows and shrinks freely
        overflow: hidden;
        padding: 0 1rem 0 1rem;
        text-align: left;
      }

      .badges {
        flex: 0 0 60px;
        overflow-y: auto;
        text-align: left;
        padding: 0 1rem 0 1rem;
        .badge {
          margin: 0.1rem;
        }
      }

      .button-div {
        flex: 0 0 60px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 1rem;
      }
    }
  }

  .project-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 200ms;
  }
}

/* DESKTOP VIEW */
@media only screen and (min-width: 701px) {
  .projects-section {
    min-height: calc(100vh - var(--desktop-navbar-height));
    height: fit-content;
    .project-card {
      width: 450px;
    }
  }
}

/* MOBILE VIEW */
@media only screen and (max-width: 700px) {
  .projects-section {
    min-height: calc(100vh - var(--mobile-navbar-height));
    height: fit-content;
    .project-card {
      width: 350px;
      img {
        width: 350px;
        height: 250px;
        object-fit: cover;
      }
    }
  }
}
