<div class="projects-section">
  <p class="txt-black txt-font-medium txt-lg">
    {{ "PROJECTS_SECTION_TITLE" | translate }}
  </p>
  <p class="txt-lighter-black txt-font-light txt-md">
    {{ "PROJECTS_SECTION_SUBTITLE" | translate }}
  </p>

  <div class="middle-earth-project-section">
    <!--MAP content-->
    <div #map id="map" class="map-content">
      @if (onZoomDetected()) {
        <div class="map-zoom-guide">
          <h3>{{ onZoomDetected() }}</h3>
        </div>
      }
      @if (!isMapLoaded()) {
        <div class="map-content-loading">
          <h1>Map is loading...</h1>
        </div>
      }
    </div>

    <!--Description content-->
    <div class="middle-earth-features">
      <div class="feature">
        <mat-icon>chat</mat-icon>
        <p>{{ "PROJECT_SECTION_CHAT" | translate }}</p>
      </div>

      <div class="feature">
        <mat-icon>library_books</mat-icon>
        <p>
          {{ "PROJECT_SECTION_KNOWLEDGEBASE" | translate }}
        </p>
      </div>

      <div class="feature">
        <mat-icon>device_unknown</mat-icon>
        <p>
          {{ "PROJECT_SECTION_QUIZ" | translate }}
        </p>
      </div>

      <div class="feature">
        <mat-icon> map</mat-icon>
        <p>
          {{ "PROJECT_SECTION_EXPLORE" | translate }}
        </p>
      </div>

      <a href="https://middleearthmap.eu/" target="_blank">
        {{ "PROJECT_SECTION_URL" | translate }} →
      </a>
    </div>
  </div>
</div>
