.projects-section {
  background-color: var(--NB-white);
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;

  .middle-earth-project-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 1rem;
    gap: 1rem;
    align-items: center;

    .map-content {
      position: relative;
      min-width: 320px;
      height: 60dvh;
      -webkit-box-shadow: 5px 6px 8px -2px rgba(0, 0, 0, 0.9);
      box-shadow: 5px 6px 8px -2px rgba(0, 0, 0, 0.9);
      .map-zoom-guide,
      .map-content-loading {
        position: absolute;
        z-index: 10;
      }
      .map-zoom-guide {
        top: 10px;
        left: 10px;
        background-color: rgba(226, 226, 226, 0.4);
        backdrop-filter: blur(3px);
        border-radius: 10px;
        color: var(--NB-lighter-black);
        padding: 0.5rem;
      }
      .map-content-loading {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(226, 226, 226, 0.4);
        width: 100%;
        height: 100%;
        color: var(--NB-lighter-black);
      }
    }
  }
  .middle-earth-features {
    text-align: start;
    color: var(--NB-lighter-black);
    .feature {
      display: flex;
      flex-wrap: nowrap;
      gap: 1rem;
      p {
        flex: 3 1;
      }
    }
  }
}

/* DESKTOP VIEW */
@media (min-width: 768px) {
  .projects-section {
    min-height: calc(100vh - var(--desktop-navbar-height));
    height: fit-content;
    .middle-earth-project-section {
      justify-content: space-around;
      .map-content {
        width: 50dvw;
      }
    }
  }
}

/* MOBILE VIEW */
@media (max-width: 768px) {
  .projects-section {
    min-height: calc(100vh - var(--mobile-navbar-height));
    height: fit-content;
    .middle-earth-project-section {
      justify-content: left;
      .map-content {
        width: 95dvw;
      }
    }
  }
}
