/* DESKTOP VIEW */
@media only screen and (min-width: 993px) {
  nav {
    height: var(--desktop-navbar-height);
    top: 10px;
    border-radius: 10px;
    border-radius: 10px !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    border: 1px solid var(--NB-darker-grey);
    background-color: rgba(255, 255, 255, 0.6) !important;
    backdrop-filter: blur(15px);

    .navbar-collapse {
      .navbar-inner-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .logo-container {
        min-width: 250px;
      }
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}

/* MOBILE VIEW */
@media only screen and (max-width: 992px) {
  nav.navbar {
    height: var(--mobile-navbar-height);
    top: 10px !important;
    border-radius: 10px !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    background-color: var(--NB-grey) !important;
    box-shadow: 5px 5px 10px var(--NB-lighter-black);

    .container-fluid {
      padding: 0;
    }

    .navbar-collapse {
      margin-top: 30px;
      background-color: var(--NB-grey) !important;
      box-shadow: 5px 5px 10px var(--NB-lighter-black);
      border-radius: 10px !important;

      .logo-container {
        margin-top: 2rem;
        margin-bottom: 2rem;
        img {
          width: 50px;
          height: 50px;
        }
      }

      .navbar-nav {
        //gap: 2rem;
        margin-bottom: 2rem;
        .nav-item {
          border-bottom: 1px solid var(--NB-darker-grey);
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='1' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}
