<nav class="navbar navbar-expand-lg fixed-top bg-white">
  <div class="container-fluid">
    <button
      class="navbar-toggler mx-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      #navbarSupportedContent
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
    >
      <div class="navbar-inner-content">
        <!--Logo-->
        <div
          class="logo-container txt-primary-green d-flex justify-content-center align-items-center"
        >
          <a
            class="navbar-brand"
            [routerLink]="['']"
            (click)="collapseNavbar()"
          >
            <img
              src="assets/logo/logo_basic.png"
              alt="Logo"
              class="logo-image img-fluid"
            />
          </a>
          <p class="txt-md m-0">
            Nagy Bence e.v. |
            <button
              class="button-navbar button-LANG"
              (click)="changeLanguage()"
            >
              <p class="txt-md txt-font-bold p-0 m-0">
                {{ changeToLangValue | uppercase }}
              </p>
            </button>
          </p>
        </div>
        <!--Links-->
        <div>
          <ul class="navbar-nav navbar-links mb-lg-0">
            <!--About-->
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                [routerLink]="['']"
                fragment="About"
                (click)="collapseNavbar()"
              >
                <button class="button-navbar">
                  <p class="txt-md">
                    {{ "ABOUT_BUTTON" | translate }}
                  </p>
                </button>
              </a>
            </li>

            <!--Skills-->
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['']"
                fragment="Skills"
                (click)="collapseNavbar()"
                ><button class="button-navbar">
                  <p class="txt-md">
                    {{ "SKILLS_BUTTON" | translate }}
                  </p>
                </button></a
              >
            </li>

            <!--Projects-->
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['']"
                fragment="Projects"
                (click)="collapseNavbar()"
                ><button class="button-navbar">
                  <p class="txt-md">
                    {{ "PROJECTS_BUTTON" | translate }}
                  </p>
                </button></a
              >
            </li>

            <!--Contact-->
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['']"
                fragment="Contact"
                (click)="collapseNavbar()"
                ><button class="button-navbar">
                  <p class="txt-md">
                    {{ "CONTACT_BUTTON" | translate }}
                  </p>
                </button></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
