@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: "Inter";
}

//COLORS
:root {
  --NB-white: #ffffff;
  --NB-grey: #f9f9fa;
  --NB-darker-grey: #e5e5e7;
  --NB-black: #030213;
  --NB-lighter-black: #3a3948;

  /* Font */
  --font-family: "Inter", sans-serif;
  --font-size-sm: 16px;
  --font-size-md: 18px;
  --font-size-lg: 24px;
  --font-size-huge: 36px;

  /* Viewport sizes */
  --mobile-max-viewport: 700px;
  --desktop-min-viewport: 701px;

  /* Navbar height */
  --mobile-navbar-height: 75px;
  --desktop-navbar-height: 100px;
}

/** Text styles
*/
.txt-font-light {
  font-weight: 300;
}

.txt-font-medium {
  font-weight: 500;
}

.txt-font-bold {
  font-weight: 700;
}

.txt-white {
  color: var(--NB-white);
}
.txt-black {
  color: var(--NB-black);
}
.txt-lighter-black {
  color: var(--NB-lighter-black);
}
.txt-grey {
  color: var(--NB-grey);
}
.txt-darker-grey {
  color: var(--NB-darker-grey);
}

.txt-xs {
  font-size: 12px;
}

.txt-sm {
  font-size: 16px;
}
.txt-md {
  font-size: 18px;
}
.txt-lg {
  font-size: 24px;
}
.txt-huge {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 5px;
}

/** background styles
*/
.bg-white {
  background-color: var(--NB-white);
}

.bg-black {
  background-color: var(--NB-black);
}
.bg-lighter-black {
  background-color: var(--NB-lighter-black);
}
.bg-grey {
  background-color: var(--NB-grey);
}
.bg-darker-grey {
  background-color: var(--NB-darker-grey);
}

/** Button styles
*/
.button-navbar {
  border: none;
  min-width: 160px;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  display: inline-block; /* fix width stretching */
  margin: 0;
  color: var(--NB-lighter-black);
  height: 40px;
  width: fit-content;
  padding: 10px;
  font-size: var(--font-size-md);
  transition: 200ms;
}
.button-LANG {
  min-width: 0;
  width: fit-content !important;
}

.button-navbar p {
  position: relative;
  display: inline-block; /* needed for underline width */
  margin: 0;
  padding: 0;
}

.button-navbar p::after {
  content: "";
  position: absolute;
  bottom: -2px; /* adjust as needed */
  left: 0;
  height: 1px;
  width: 100%;
  opacity: 0.3;
  background: var(--NB-lighter-black);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease;
}

.button-navbar:hover p::after {
  transform: scaleX(1);
}

.button-primary-dark {
  border: none;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  background-color: var(--NB-black);
  margin: 0;
  color: var(--NB-white);
  font-size: var(--font-size-sm);
  transition: 200ms;
}
.button-primary-dark:hover {
  background-color: var(--NB-lighter-black);
  transition: 200ms;
}

.button-primary-light {
  border: 1px solid var(--NB-lighter-black);
  border-radius: 10px;
  width: fit-content;
  background-color: var(--NB-white);

  margin: 0;
  color: var(--NB-black);
  font-size: var(--font-size-sm);
  transition: 200ms;
}
.button-primary-light:hover {
  background-color: var(--NB-darker-grey);
  transition: 200ms;
}

.badge {
  font-size: 12px;
  background-color: var(--NB-darker-grey);
  color: var(--NB-black);
  border-radius: 10px;
}

/* DESKTOP VIEW */
@media only screen and (min-width: 767px) {
  html,
  body {
    height: 100vh; /* Fix the body to always cover the full viewport */
    margin: 0;
    padding: 0;
    //overflow: hidden; /* Prevent scrolling on body */
  }
  body {
    background-color: var(--NB-darker-grey);
  }
}

/* MOBILE VIEW */
@media only screen and (max-width: 766px) {
  html,
  body {
    height: 100vh; /* Fix the body to always cover the full viewport */
    margin: 0;
    padding: 0;
    //overflow: hidden; /* Prevent scrolling on body */
  }
  body {
    background-color: var(--NB-darker-grey);
  }
}
